.header-bg {
  background: #000;
  height: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  color: #fff;
}

.header-menu a {
  display: flex;
  align-items: center;
  border-bottom: 4px solid transparent;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.6em;
  height: 100px;
}

.header-menu a:hover,
.header-menu li:first-child a {
  border-color: #b28257;
  color: #ccc;
}
