.about-bg {
  background: #f7f7f7;
}

.about-area {
  display: flex;
  gap: 12px;
}

.about-info > * + * {
  margin-top: 2em;
}

.about-info p {
  line-height: 1.6;
}

.about-video iframe {
  box-shadow: 0px 12px 8px -4px rgba(0, 0, 0, 0.3);
}
