.premium {
  overflow: hidden;
}

.premium-sliders {
  width: 1000vw;
  display: flex;
}

.premium-slide {
  width: 100vw;
}

.premium-slide-area {
  display: flex;
  justify-content: center;
}

.premium-slide-info {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
}

.premium-slide-info > * {
  flex: 1;
}

.premium-slide-info-list li > * + * {
  margin-top: 1em;
}

.premium-slide-info-list li + li {
  margin-top: 1em;
}

.premium-slide-info-list h2 {
  text-transform: uppercase;
  position: relative;
}

.premium-slide-info-list h2::before {
  display: inline-block;
  content: "";
  width: 34px;
  height: 30px;
  background: url("../../images/check.png") no-repeat;
  position: absolute;
  left: -38px;
}

.premium-slide-info-list p {
  max-width: 30ch;
  color: #8f8f8f;
}

.premium-pointers::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #d8d8d8;
  position: absolute;
  top: -32px;
}

.premium-pointers {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}

.premium-pointer {
  width: 16px;
  height: 16px;
  border: 1px solid #b28257;
  border-radius: 50%;
}

.premium-pointer:first-child,
.premium-pointer:hover {
  background: #a0754e;
  cursor: pointer;
}

.botao-area {
  display: flex;
}

.botao-area .botao {
  margin-inline: auto;
}

@media (max-width: 800px) {
  .premium-slide-info {
    flex-direction: column;
  }

  .premium-slide-info-list h2 {
    font-size: 1.25rem;
  }
  .premium-pointers::before {
    top: -16px;
  }
}

@media (max-width: 600px) {
  .premium-slide-info-list h2::before {
    display: none;
  }
}

@media (max-width: 480px) {
  .premium-slide-info {
    align-items: flex-start;
  }
  .premium-slide-info figure img {
    width: 240px;
  }
}
