.services-bg {
  background: var(--dark-bg);
}

.services-list {
  display: flex;
}

.services-list h2 {
  color: #fff;
}

.services-list p {
  color: #797979;
}

.service-item > * + * {
  margin-top: 1em;
}

.service-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  border-right: 1px solid #ccc;
}

.service-item:first-child {
  border-left: 1px solid #ccc;
}

.service-item img {
  width: 50px;
  align-self: center;
}

.service-item h2 {
  text-transform: uppercase;
  flex: 1;
}

.service-item p {
  line-height: 1.4;
}
